
	
	/* ********  HEADER EXTRA *********** */
		
	div.header-extra
	{
		height: 180px;
		background: url("/img/header-extra_back.png");
	}
	div.header-extra div.img-bg-header
	{
		background: url('http://acao.dev/img/bg_img_top_todos.png') no-repeat bottom right;
		height: 190px;
	}
	div.header-extra div.eventer
	{
		float: left;
		padding: 44px 60px;
		position: absolute;
		z-index: 9999;
	}
	div.header-extra ul.header-extra_menu
	{
		float: right;
		margin: 80px 50px 0 0;
	}
	div.header-extra ul.header-extra_menu li
	{
		float: left;
		text-transform: uppercase;
	}
	div.header-extra ul.header-extra_menu li a
	{
/* 		font: normal normal bold 20px Arial, Sans-Serif; */
		font-weight: bold;
		font-size: 26px;
		line-height: 50px;
		display: block;	
		margin: 0 15px;
		color: #000;
	}		
	div.header-extra ul.header-extra_menu li a.active
	{
		color: #00CCFF;
	}		
	div.header-extra ul.header-extra_menu li a:HOVER
	{
		color: #00CCFF;
	}
	
	
	
	
	
	
	
	
	
.header_social {
	position: absolute; 
	top: 50px;
	left: 380px;
	padding:5px 3px 3px 5px; 
	float:left; 
	text-align:center;
	z-index: 9999;
}
.header_social .social {float:left;}
.header_social .hs_plus {margin-left: 15px; width: 60px;}
.header_social .hs_tw {margin-left: 15px;}
.twitter_box {
	width: 50px;
	height: 30px;
	position: relative;
	background: #fff;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 8px;
	margin-left: 4px;
    }
.twitter_box:after,
.twitter_box:before {
    width: 0; height: 0;
    position: absolute;
    top: 100%;
    border: solid transparent;
    pointer-events: none;
    content: " ";
    }
.twitter_box:after {
    left: 50%;
    border-top-color: #fff;
    border-width: 3px;
    margin-left: -3px;
    }
.twitter_box:before {
    left: 50%;
    border-top-color: #aaa;
    border-width: 4px;
    margin-left: -4px;
    }
.twitter_box #followers {
    width: 100%; height: auto;
    position: absolute;
    top: 0px; left: 0px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 14px; line-height: 31px;
    letter-spacing: 0;
    white-space: nowrap;
    color: #333;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
   }
