.ct_info
	{
	background: #fbfbfb; margin: 2px; padding: 20px 6px; border: 1px solid #C6E2FF; font-size: 18px;
}

.txt_contact
	{
	margin: 0 auto; display: table;
}

.txt_title
	{
	font-size: 26px;
}

.input_z
	{
	width: 260px; height: 36px; padding: 0 10px; background: #fbfbfb; border: 1px solid #C6E2FF; border-radius: 6px; color: #036; outline: 0 none;
}

textarea
	{
	background: #fbfbfb; border: 1px solid #C6E2FF; border-radius: 6px; width: 600px; color: #036; padding: 10px; outline: 0 none;
}

label
	{
	font-size:15px; color: #0099FF; font-weight: bold;
}

.text_alert
	{
	font-size: 14px; color: red; float: left; margin-top: 20px;
}
