
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
/* 		font: inherit; */
		vertical-align: baseline; }
	body {
		line-height: 1;
		
}
	ol, ul {
		list-style: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

		

/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/*  FOOTER in the END   */
* html .global, html, body 
{
	height: 100%;/* hack para IE6 que trata height como min-height */
}
.global
{   /*para posicionar o rodape no final*/
	min-height:100%;
	position:relative;
	background: #fbfbfb;
}
.wrapper
{
	padding-bottom: 140px;
}
.footer
{
	height: 139px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

/* #Typography
================================================== */

/*	Blockquotes  */
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 0; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: none; outline: 0;}
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


	
/* #Lists
================================================== */
	
	
/* #Images
================================================== */


/* #Buttons
================================================== */
button 
{
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 7px 20px;
	border: 0;
	margin: 0;
	text-decoration: none;
	text-align: center;
	font: 12px/normal arial,sans-serif;
	color: #FFF;
	white-space: nowrap;
	cursor: pointer;
	outline: 0;
	border-radius: 4px;
	zoom: 1;
	background: transparent url("/img/global_button_blue_back.png");
}
/* button span
{
	padding-right: 20px;
	background: transparent url("/img/global_button_blue_span.png") center right no-repeat;
}
*/

/* #Forms
================================================== */

	
/* #Misc
================================================== */



/*========== #Panels ============
				<li class="panel_label">
					<button><span>texto</span></button>
					<div class="panel_value">
						conteúdo
					</div>
				</li>
*/
li.panel_label
{
	position: relative;
}
li.panel_label div.panel_value
{
	position: absolute;
	display: none;
	top: 125%;
	right: 0;
	z-index: 9;
	padding: 5px;
	background-color: white;
	color: #333;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	-moz-box-shadow: 0 0 0 2px rgba(1,1,1,0.1);
	-webkit-box-shadow: 0 0 0 2px rgba(1,1,1,0.1);
	box-shadow: 0 0 0 2px rgba(1,1,1,0.1);
	text-align: left;
}




/* ============= #Container - without content =====

	<div class="container_content_msg">	
		Nenhum evento cadastrado para esta data
	</div>
	
*/

.container_content_msg
{
	border: 1px dashed #CCC;
	background-color: #F4F6F7;
	border-radius: 10px;
	width: 928px;
	margin: 0 auto;
	padding: 30px;
	margin-bottom: 30px;
	
	text-align: center;
	font-weight: bold;
}