
/*
## DESTAQUES
*/

.ct_right{
	width: 350px;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

/*CT LEFT (LOGO E SOCIAIS)*/

.ct_left_d{
	padding: 8px; 
	display: table; 
	float: left;
}

.ct_flyer_d{
	border: 1px solid #E5E5E5; 
	background: #CCC; 
	width: 108px; 
	height: 108px; 
	margin-bottom: 4px;
}

.ct_flyer_d img{
	width: 100px; 
	height: 100px; 
	margin: 2px; 
	border: 2px solid #FFF;
}

.ct_right_d{ 
	float: left;
}
