@CHARSET "UTF-8";

div.evento_wrap
{
	margin-bottom: 40px;
}

div.evento_promotions
{
	width: 928px;
}


div.evento_promotions div.cortesia_euquero
{
	cursor: pointer;
	background: transparent url("/img/evento_promotions_iwant.png") 10px center no-repeat;
	text-transform: uppercase;
}



div.evento_promotions table
{
	width: 928px;
	border: 1px dashed #CCCCCC;
	border-top: 0px;
	border-spacing: 0;
	background: transparent url("/img/evento_promotions_table_thead.png") top repeat-x;
	
}

div.evento_promotions table .max_destak
{
	color: #00CCFF;
	font-size: 25px;
}
div.evento_promotions table .min_destak
{
	color: #00CCFF;
	font-size: 15px;
}

div.evento_promotions table tbody
{
	background-color: #F2F2F2;	
	border: 1px dashed #CCC;
	border-top: 0px;
}

div.evento_promotions table tbody tr
{
	border-top: 1px solid #FFF;
}

div.evento_promotions table tbody tr:HOVER
{
	background-color: #F6F6F6;
}

div.evento_promotions table tbody td
{
	font-size: 15px;
	line-height: 46px;
	text-align: center;
}


div.evento_promotions table thead th
{
	line-height: 48px;
	font-size: 15px;
/* 	height: 48px; */
	text-transform: uppercase;
	text-align: center;
	background: transparent url("/img/evento_promotions_table_thead_icon.png") center 35px no-repeat;
}


div.evento_promotions table thead th.th_empty
{
	background-image: none;
}



div.evento_content
{
	background: transparent url("/img/evento_container_back.png");
	position: relative;
	border: 1px solid #E9E9E9;
}
div.evento_content div.evento_flyer
{
	position: relative;
	background: transparent url("/img/evento_flyer_back.png");
	width: 192px;
	height: 220px;
}

div.evento_content div.evento_flyer div.evento_flyer_zoom
{
	display: none;
}
div.evento_content div.evento_flyer div.evento_flyer_zoom img
{
	max-width: 500px;
	max-height: 500px;
}

.ct_icos{
	position: absolute;
	display: table;
	background: url("/img/bg_ico_events.png")  center center repeat-x;
	width: 192px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	bottom: -9px;
	left: -17px;
	

}

.li_zoom{
	cursor: pointer;
}
button span {
	background-image: none;
}

div.evento_content div.evento_flyer div.evento_promo
{
	position: absolute;
	left: -7px;
	top: 6px;
}
div.evento_content div.evento_flyer div.evento_flyer_mold
{
	width: 158px;
	height: 158px;
	position: absolute;
	left: 16px;
	top: 52px;
	
	background: #020202; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMDIwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #020202 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020202), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #020202 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #020202 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #020202 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #020202 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#444444',GradientType=0 ); /* IE6-8 */

	
	border: 1px solid #666;
}

div.evento_content div.evento_flyer div.evento_flyer_mold div.evento_flyer_img
{
	width: 150px;
	height: 150px;
	padding-top: 3px;
	margin: 0 auto;
	padding-right: 2px;
}
div.evento_content div.evento_flyer div.evento_flyer_mold div.evento_flyer_img img
{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #333;
}
div.evento_content div.evento_description
{
	position: absolute;
	top: 60px;
	left: 210px;
}
div.evento_content div.evento_description div.event_genre
{
	border: 1px solid #EBEBEB; border-top: 0px; position: absolute; top: -60px; width: 500px; border-radius: 0 0 4px 4px; padding: 4px 2px;
	
	box-shadow: #CCC 1px 1px 1px 1px;
		
	background: #e9f6fd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZjZmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2VlZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e9f6fd 0%, #d3eefb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f6fd), color-stop(100%,#d3eefb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e9f6fd 0%,#d3eefb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-8 */
}
div.evento_content div.evento_description div.event_genre p
{
	margin: 0 auto; width: 500px; text-align: center;
}
div.evento_content div.evento_description div.event_genre span
{
	font-weight: bold;
}
div.evento_description_label
{
	color: #999999;
	font-size: 14px;
	float: left;
	width: 50px;
	text-align: right;
	margin-top: 10px;
}
div.evento_description_content
{
	font-size: 18px;
	color: #000;
	white-space: nowrap;
	padding-left: 60px;
	margin-top: 10px;
	font-weight: bold;
}

div.evento_content div.evento_description button
{
	width: 145px;
	height: 40px;
	border: 0;
	cursor: pointer;
	text-indent: 999999em;
	margin-top: 30px;
}

div.evento_content div.evento_description button.evento_description_button_details
{
	background: transparent url("/img/evento_description_button_details.png") left center no-repeat;
}
div.evento_content div.evento_description button.evento_description_button_promotions
{
	background: transparent url("/img/evento_description_button_promotions.png") left center no-repeat;	
	z-index: 1000;
	position: absolute;
	left: 140px;
}


div.evento_content div.evento_date
{
	background: transparent url("/img/evento_date.png") center center no-repeat;
	width: 207px;
	height: 220px;
	position: absolute;
	right: -12px;
	top: 0;
}


div.evento_content div.evento_date a
{
	display: block;
	width: 100%;
	height: 165px;
	text-indent: -9999em;
}

div.evento_content div.evento_date span
{
	display: block;
	margin: 30px 36px;
	font-size: 30px;
}