@CHARSET "UTF-8";

div.eventos_content
{
	border-radius: 10px;
	width: 928px;
	margin: 0 auto;
	padding: 30px 25px 0 25px;
	margin-bottom: 30px;
}


div.evento_wrap
{
	margin-bottom: 40px;
}

div.evento_promotions
{
	width: 928px;
}


div.evento_promotions div.cortesia_euquero
{
	cursor: pointer;
	background: transparent url("/img/evento_promotions_iwant.png") 10px center no-repeat;
	text-transform: uppercase;
}



div.evento_promotions table
{
	width: 928px;
	border: 1px dashed #CCCCCC;
	border-top: 0px;
	border-spacing: 0;
	background: transparent url("/img/evento_promotions_table_thead.png") top repeat-x;
	
}

div.evento_promotions table .max_destak
{
	color: #00CCFF;
	font-size: 25px;
}
div.evento_promotions table .min_destak
{
	color: #00CCFF;
	font-size: 15px;
}

div.evento_promotions table tbody
{
	background-color: #F2F2F2;	
	border: 1px dashed #CCC;
	border-top: 0px;
}

div.evento_promotions table tbody tr
{
	border-top: 1px solid #FFF;
}

div.evento_promotions table tbody tr:HOVER
{
	background-color: #F6F6F6;
}

div.evento_promotions table tbody td
{
	font-size: 15px;
	line-height: 46px;
	text-align: center;
}


div.evento_promotions table thead th
{
	line-height: 48px;
	font-size: 15px;
/* 	height: 48px; */
	text-transform: uppercase;
	text-align: center;
	background: transparent url("/img/evento_promotions_table_thead_icon.png") center 35px no-repeat;
}


div.evento_promotions table thead th.th_empty
{
	background-image: none;
}



div.evento_content
{
	position: relative;
}
div.evento_content div.evento_flyer
{
	position: relative;
	background: transparent url("/img/evento_flyer_back.png");
	width: 192px;
	height: 220px;
}

div.evento_content div.evento_flyer div.evento_flyer_zoom
{
	display: none;
}
div.evento_content div.evento_flyer div.evento_flyer_zoom img
{
	max-width: 500px;
	max-height: 500px;
}

.ct_icos{
	width: 187px;
	position: relative;
	height: 30px;
	margin-top: -17px;
	margin-left: -15px;
}

.li_zoom{
	cursor: pointer;
}
button span {
	background-image: none;
}

div.evento_content div.evento_flyer div.evento_promo
{
	position: absolute;
	left: -6px;
	top: 6px;
}
div.evento_content div.evento_flyer div.evento_flyer_mold
{
	width: 158px;
	height: 158px;
	position: absolute;
	left: 16px;
	top: 52px;
	
	background: #020202; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMDIwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #020202 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020202), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #020202 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #020202 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #020202 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #020202 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#444444',GradientType=0 ); /* IE6-8 */

	
	border: 1px solid #666;
}

div.evento_content div.evento_flyer div.evento_flyer_mold div.evento_flyer_img
{
	width: 150px;
	height: 150px;
	padding-top: 3px;
	margin: 0 auto;
	padding-right: 2px;
}
div.evento_content div.evento_flyer div.evento_flyer_mold div.evento_flyer_img img
{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #333;
}
div.evento_content div.evento_description
{
	position: absolute;
	top: 60px;
	left: 210px;
	width: 480px;
}
div.evento_content div.evento_description div.event_genre
{
	border-top: 0px; position: absolute; top: -60px; width: 500px; border-radius: 0 0 4px 4px; padding: 10px 2px;
	box-shadow: #F5F5F5 2px 1px 1px 1px;
	background: #F5F5F5;
}
div.evento_content div.evento_description div.event_genre p
{
	margin: 0 auto; width: 500px; text-align: center;
}
div.evento_content div.evento_description div.event_genre span
{
	font-weight: bold;
}
div.evento_description_label
{
	color: #999999;
	font-size: 14px;
	float: left;
	width: 50px;
	text-align: right;
	margin-top: 20px;
}
div.evento_description_content
{
	font-size: 18px;
	color: #000;
	white-space: nowrap;
	padding-left: 60px;
	margin-top: 20px;
	font-weight: bold;
}

div.evento_content div.btn_events
{
	clear: both;
	margin-top: 20px;	
}

div.evento_content div.evento_description button.evento_description_button_details
{
	background: transparent url("/img/evento_description_button_details.png") left center no-repeat;
	width: 140px;
	border: 0;
	cursor: pointer;
	margin: 10px 2px 0 20px;
}
div.evento_content div.evento_description button.evento_description_button_details span
{
	padding-left: 5px; color: #00CCFF; font-size: 14px;
}

div.evento_content div.evento_description button.evento_description_button_promotions
{
	background: transparent url("/img/evento_description_button_promotions.png") left center no-repeat;	
	width: 140px;
	border: 0;
	cursor: pointer;
	margin: 10px 2px 0 10px;
}

div.evento_content div.evento_description button.evento_description_button_promotions span
{
	padding-left: 16px; color: #00CCFF; font-size: 14px;
}


div.evento_content div.evento_date
{
	width: 200px;
	height: 220px;
	position: absolute;
	right: 0;
	top: 0;
}

div.evento_content div.evento_date span
{
	display: block;
	padding: 50px 36px;
	font-size: 30px;
	color: #999;
	margin-bottom: 12px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAyMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjAyMDIiIHN0b3Atb3BhY2l0eT0iMC4wMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(2,0,0,0.03) 0%, rgba(2,0,0,0.06) 50%, rgba(2,2,2,0.03) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,0,0,0.03)), color-stop(50%,rgba(2,0,0,0.06)), color-stop(100%,rgba(2,2,2,0.03))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(2,0,0,0.03) 0%,rgba(2,0,0,0.06) 50%,rgba(2,2,2,0.03) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(2,0,0,0.03) 0%,rgba(2,0,0,0.06) 50%,rgba(2,2,2,0.03) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(2,0,0,0.03) 0%,rgba(2,0,0,0.06) 50%,rgba(2,2,2,0.03) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(2,0,0,0.03) 0%,rgba(2,0,0,0.06) 50%,rgba(2,2,2,0.03) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08020000', endColorstr='#08020202',GradientType=0 ); /* IE6-8 */


}

div.evento_content div.evento_date a
{
	display: block;
	width: 170px;
	padding: 10px 0 10px 30px;
	border-right: 1px solid #CCCCCC;
	background: #F4F4F4;
	color: #0099FF;
	margin: 0 0 4px 0;
	
}

div.evento_content div.evento_date a p
{
	padding-left: 20px;
 	background:  url('/img/events_link_arrow.png') left center no-repeat;
}


/* *****  RATING  ***** */

.rating_partial{
}
.star-rating-partial,
.star-rating-partial .current-rating{
background: url(/img/stars_rating.png) left -1000px repeat-x;
}
.star-rating-partial{
position:relative;
width:107px;
height:19px;
overflow:hidden;
list-style:none;
margin:0;
padding:0;
background-position: left top;
}
.star-rating-partial li{
display: inline;
}
.star-rating-partial a,
.star-rating-partial .current-rating{
position:absolute;
top:0;
left:0;
text-indent:-1000em;
height:19px;
line-height:24px;
outline:none;
overflow:hidden;
border: none;
}
.star-rating-partial a.star1{
width:20%;
z-index:6;
}
.star-rating-partial a.star2{
width:40%;
z-index:5;
}
.star-rating-partial a.star3{
width:60%;
z-index:4;
}
.star-rating-partial a.star4{
width:80%;
z-index:3;
}
.star-rating-partial a.star5{
width:100%;
z-index:2;
}
.star-rating-partial .current-rating{
z-index:1;
margin: 0 !important;
background-position: left center;
}	







/*DETALHES EVENTO*/

.ct_desc_event{
	border: 1px solid #E5E5E5;
}

.desc_event{
	padding: 20px;
}

.title_details{
	font-size: 16px; 
	color: black; 
	font-weight: bold;
}

.text_desc{}

