@CHARSET "UTF-8";

div.eventos_content
{
	border: 1px dashed #999999;
	background-color: #F4F6F7;
	border-radius: 10px;
	width: 928px;
	margin: 0 auto;
	padding: 30px 25px 0 25px;
	margin-bottom: 30px;
}
