@CHARSET "UTF-8";

div.header
{
	background-color: #696862;
	height: 40px;
	position: relative;
}
div.header_home
{
	width: 42px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 30px
}

ul.navigation
{
	float: right;
	margin-right: 30px;
	position: relative;
}	

ul.navigation li
{
	float: left;
	text-transform: uppercase;
	border-left: 1px solid #333333;
	color: #F2F2F2;
	font-weight: bold;
	font-size: 12px;
}
ul.navigation li a.login
{
	background: #696862 url("/img/header_menu_login.png") no-repeat 30px center;
	
}	
ul.navigation li a.register
{
	background: #595853 url("/img/header_menu_register.png") no-repeat 20px center;
}	
ul.navigation li a.events
{
	background: #595853 url("/img/header_menu_events.png") no-repeat 20px center;
}
ul.navigation li a
{
	display: block;
	color: #F2F2F2;
	line-height: 40px;
	padding-left: 60px;
	padding-right: 30px;		
}
ul.navigation li a:HOVER 
{
	color: #FFF;
}








/* ESTRUTURA  BOX LOGIN */

#form_login{
	width: 405px; 
	height: 405px;  
	border: 1px solid #000; 
	position: absolute;
	top: 34px;
	right: 50px; 
	z-index: 10; 
	margin-top: 30px; 
	background: url("/img/login_bg_i.png"); 
	display: none;
}
#top_form{
	height: 25px; 
	width: 58px; 
	position: absolute; 
	right: 0; 
	margin-top: -25px; 
	margin-right: -1px; 
	z-index: 11; 
	background: url("/img/login_topimg.png") center center no-repeat; 
}
#ct_form{
	border:1px solid #2C2C2C; 
	width: 390px; 
	height: 390px; 
	margin: 6px; 
	background: #505050;
}

#form{margin: 15px 2px;}

/* TEXT AND INPÙTS */

.text_senha{
	font-size: 12px; 
	color: #CCC; 
	padding-left: 4px;
	}

.link_senha{
	color: white;
}

.text_form_login{
	color: #00CCFF; 
	font-size: 14px;
}

.input_login{
	width: 362px; 
	height: 48px; 
	border-radius: 6px; 
	padding: 0 8px; 
	background: #EAF2F7; 
	font-size: 14px; 
	color: #036; 
	border: 0px;
}

.msg_error{
	background: #333; 
	padding: 4px 81px; 
	margin-left: 5px;
	display: none;
}
