@CHARSET "UTF-8";

div.header
{
	background-color: #696862;
	height: 40px;
	position: relative;
}
div.header_home
{
	width: 42px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 30px
}

ul.navigation
{
	float: right;
	margin-right: 30px;
	position: relative;
}	

ul.navigation li
{
	float: left;
	text-transform: uppercase;
	border-left: 1px solid #333333;
	color: #F2F2F2;
	font-weight: bold;
	font-size: 12px;
}
ul.navigation li a.login
{
	background: #696862 url("/img/header_menu_login.png") no-repeat 30px center;
	color: #0FF;
}
ul.navigation li a.login:hover
{
	color: #00CCFF;
}	
ul.navigation li a.register
{
	background: #595853 url("/img/header_menu_register.png") no-repeat 20px center;
}	
ul.navigation li a.events
{
	background: #595853 url("/img/header_menu_events.png") no-repeat 20px center;
}
ul.navigation li a
{
	display: block;
	color: #F2F2F2;
	line-height: 40px;
	padding-left: 60px;
	padding-right: 30px;		
}
ul.navigation li a:HOVER 
{
	color: #FFF;
}











/* ESTRUTURA  BOX LOGIN */

#div_form_login{
	border: 1px solid #999; 
	background-color: #1A1A1A; 
	display: table;
	position: absolute;
	top: 34px;
	right: 50px; 
	z-index: 10; 
	margin-top: 30px; 
	background: url("/img/BGrepeat_fqpd.png"); 
	display: none;
	width: 361px;
	border-radius: 5px 0px 5px 5px;
	padding: 15px 0 0 0;
	color: white;
}

#top_form{
	height: 25px; 
	width: 58px; 
	position: absolute; 
	right: 0; 
	margin-top: -40px; 
	margin-right: -1px; 
	z-index: 11; 
	background: url(/img/top_modal.png) center center no-repeat; 
}

#form_news_add{margin: 0px 0px 12px 30px;}

label{display: none;}

dt{
padding: 6px;
}


div#div_form_login ul li{color: #09F; margin: 5px 10px 5px 10px;}



/*
INPUTS
*/

select{
width: 300px; height: 40px; padding-left: 6px;  border-radius: 2px; border: 1px solid #666; outline-color: #09F; font-size: 14px; color: #999; background: #333;
}

input{
width: 286px; height: 40px; padding-left: 10px; border-radius: 2px; background: #333; border: 1px solid #666; outline-color: #09F; font-size: 14px; color: #999;
}

button{
width: 200px; border: 1px solid #09F; padding: 12px 6px; cursor: pointer; margin:0px 80px 0px 80px;
background: #1e5799; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */

}


