/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Menu Style
	#Media Queries
	#Font-Face */



/* ========================= #Site Styles ================================================== */

body{background: url("/img/bg.png") repeat;}

/* ================================== #Menu Style ===========================================*/
#ct_menu{
	width: 100%;
	padding: 14px;
	background: url("/img/bg_top_menu.png") repeat-x;
	box-shadow: 0 1px 6px black;
	display: table;
	position: absolute;
	z-index: 10;
}

#top_menu{
	width: 980px;
	margin: 0 auto;
	display: table;
}

.top_home{
	float: left;
}


.top_menus{
	float: right;
}
.navigation li{
	display: inline;
	padding: 5px 10px;
}
.navigation li a{
	color: #ccc;
}
.navigation li a:hover{
	color: graytext;
}

.navigation li a:activate{
	color: red;
}


/* ================================== #TOPO ===========================================*/

#ct_top{
	width: 100%; 
	height: 262px;
	background: url("/img/bg_top.png") repeat-x;
	z-index: 9;

}

#top{ 
	width: 980px; 
	height: 262px; 
	margin: 0 auto;
	background: url("/img/bg_top_center.png") no-repeat;
}

/* ================================== #CONTENT ===========================================*/

#ct_content{
	width: 100%; 
}

#content{
	width: 980px; 
	max-width: 980px; 
	margin: 0 auto; 
	display: table;
}

#content_left{
	width: 622px; 
	float: left;
	display: table;
	margin-right: 2px;
}

#left_top{
	margin-bottom: 10px;
	padding: 15px 20px;
	height: 22px;
	background: url("/img/bg_top_content_i.png") repeat-x;
	box-shadow: 0 1px 6px #ccc;
}

#content_right{
	width: 354px;
	float: left; 
	display: table;
}

#right_top{
	margin-bottom: 10px;
	padding: 15px 20px;
	height: 22px;
	background: url("/img/bg_top_content_i.png") repeat-x;
	box-shadow: 0 1px 6px #ccc;
	border-right: 2px solid #ccc;
}


/* ================================== #RODAPÉ ===========================================*/

#ct_rodape{
	width: 100%; 
	background:url('/img/bg_top_menu.png') repeat; 
	box-shadow: 0px 0px 7px 0px black; 
	margin-top: 80px; 
	display: table; 
	border-bottom: 1px solid #ccc;
}

#rodape{
	width: 980px; 
	margin: 0 auto; 
	display: table;
}

.menu_rodape{
	padding: 20px 60px 20px 0px; 
	float: left;
}

.title_menu_r{
	color: white; 
	font-family: arial; 
	font-size: 14px;
}

.iten_menu_r{
	margin: 0px 5px; 
	color: #ccc; 
	font-family: arial; 
	font-size: 12px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/