
	
	/* ********  HEADER EXTRA *********** */
		
	div.header-extra
	{
		height: 180px;
		background: url("/img/header-extra_back.png");
	}
	div.header-extra div.img-bg-header
	{
		background: url('http://acao.dev/img/bg_img_top_todos.png') no-repeat bottom right;
		height: 190px;
	}
	div.header-extra div.eventer
	{
		float: left;
		padding: 38px 60px;
		position: absolute;
		z-index: 9999;
	}
	div.header-extra ul.header-extra_menu
	{
		float: right;
		margin: 80px 50px 0 0;
	}
	div.header-extra ul.header-extra_menu li
	{
		float: left;
		text-transform: uppercase;
	}
	div.header-extra ul.header-extra_menu li a
	{
/* 		font: normal normal bold 20px Arial, Sans-Serif; */
		font-weight: bold;
		font-size: 26px;
		line-height: 50px;
		display: block;	
		margin: 0 15px;
		color: #000;
	}		
	div.header-extra ul.header-extra_menu li a.active
	{
		color: #00CCFF;
	}		
	div.header-extra ul.header-extra_menu li a:HOVER
	{
		color: #00CCFF;
	}