/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Menu Style
	#Media Queries
	#Font-Face */



/* ========================= #Site Styles ================================================== */

body{background: url("/img/bg.png") repeat;}

/* ================================== #Menu Style ===========================================*/
#ct_menu{
	width: 100%;
	padding: 14px;
	background: url("/img/bg_top_menu.png") repeat-x;
	box-shadow: 0 1px 6px black;
	display: table;
	position: absolute;
	z-index: 10;
}

#top_menu{
	width: 980px;
	margin: 0 auto;
	display: table;
}

.top_home{
	float: left;
}


.top_menus{
	float: right;
}
.navigation li{
	display: inline;
	padding: 5px 10px;
}
.navigation li a{
	color: #ccc;
}
.navigation li a:hover{
	color: graytext;
}

.navigation li a:activate{
	color: red;
}


/* ================================== #TOPO ===========================================*/

#ct_top{
	width: 100%; 
	height: 262px;
	background: url("/img/bg_top.png") repeat-x;
	z-index: 9;

}

#top{ 
	width: 980px; 
	height: 262px; 
	margin: 0 auto;
	background: url("/img/bg_top_center.png") no-repeat;
}

#top_left{
	height: 264px; 
	width: 420px; 
	float: left; 
	background: url('/img/bg_top_ii_down.png') center bottom no-repeat;
}

#top_right{
	height: 264px; 
	width: 550px; 
	float: left; 
	background: url('/img/bg_img_top.png') center bottom no-repeat;
}

#ct_location{
	margin: 224px 0 0 100px; 
	display: table; 
	color: black; 
	font-weight: bold; 
}

#location{
	float: left; 
	margin-right: 4px; 
	padding-right: 20px; 
	background: url('/img/separator.png') no-repeat center right;
}

/* ================================== #CONTENT ===========================================*/

#ct_content{
	width: 100%;
}

#content{
	width: 980px; 
	margin: 0 auto; 
	display: table;
}


#top_date_search{
	margin-bottom: 10px;
	padding: 15px 20px;
	height: 22px;
	background: url("/img/bg_top_content_i.png") repeat-x;
	box-shadow: 0 1px 6px #ccc;
}


/* ================================== #BUSCA AVANÇADA ===========================================*/

#search_adv{
	border: 1px solid #f0f0f0; 
	width: 620px; 
	display: table; 
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

#categories{
	border-bottom: 1px solid #ccc; 
	padding: 5px;
}

.iten_category{
	display: inline; 
	padding: 2px 10px;
}

#filter{padding: 16px 10px;}

.txt_input_h{
	text-align: right; 
	width: 80px;
}

#btn_go_filter{
	padding: 5px 10px; 
	border: 1px solid #CCC; 
	float: right; 
	background: #999; 
	color: #CCC;
}

/* ================================== #RODAPÉ ===========================================*/

#ct_rodape{
	width: 100%; 
	box-shadow: 0px 0px 7px 0px black; 
	margin-top: 80px; 
	display: table; 
	border-top: 6px solid #000;

	background: rgb(69,72,77); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

}

#rodape{
	width: 980px; 
	margin: 0 auto; 
	display: table;
}

.menu_rodape{
	padding: 30px 60px 40px 0px; 
	float: left;
}

.title_menu_r{
	color: white; 
	font-family: arial; 
	font-size: 20px;
}

.iten_menu_r{
	margin: 0px 20px; 
	color: #ccc; 
	font-family: arial; 
	font-size: 12px;
}

#ct_cop{
	width: 100%; 
	border-top: 1px solid #333333; 
	background: #111111; 
	padding: 10px;
}

#cop{
	width: 980px; 
	margin: 0 auto;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/