@CHARSET "UTF-8";


div.location
{
	background-color: #F9F9F9;
	height: 73px;
	position: relative;
}
div.location div.location_wrap
{
	float: right;
	margin-right: 50px;
	line-height: 73px;
}
div.location div.location_label
{
	float: left;
	line-height: 73px;
	height: 73px;
	padding-left: 45px;
	padding-right: 10px;
	font-size: 26px;
	font-weight: bold;
	background: transparent url("/img/location_label.png") left center no-repeat;
}
div.location div.location_content
{
	float: left;
	line-height: 73px;			
	font-size: 26px;
	font-weight: bold;
	color: #666666;
	padding-right: 40px;
	background: transparent url("/img/location_content.png") right center no-repeat;			
}
div.location div.location_content a
{
	color: #666666;
}
div.location div.location_content a:HOVER
{
	color: #000;
}






div.ajax_content_localidade
{
 	height: 240px; 
	background: transparent url("/img/body.png") repeat;
	display: none;
/* 	position: absolute; */
	z-index: 60;
}

div.ajax_content_localidade div.cities
{
	float: left;
	margin: 40px 0 0 200px;
	color: #FF9900;
	font-size: 20px;
	line-height: 150%;
}
div.ajax_content_localidade div.cities ul li a
{
	color: #FF9900;
	font-weight: bold;
}

div.ajax_content_localidade div.headline
{
	color: #FFF;
	font-size: 40px;
	font-weight: bold;
	width: 380px;
	letter-spacing: 1px;
	line-height: 120%;
	float: right;
	padding-top: 70px;
	margin-right: 50px;
	background: transparent url("/img/index_arrow.png") right 5px no-repeat;
}
div.ajax_content_localidade div.headline span
{
	color: #FF9900;
	font-size: 50px;
}
