@CHARSET "UTF-8";



#ct_location{
	/*margin: 224px 0 0 100px; */
	display: table; 
	color: black; 
	font-weight: bold; 
}

#location{
	float: left; 
	margin-right: 4px; 
	padding-right: 20px; 
	background: url('/img/separator.png') no-repeat center right;
}
