@CHARSET "UTF-8";

.global
{   
	background: transparent url("/img/body.png") repeat !important;
}
div.content_localidade
{
/* 	background: transparent url("/img/index_back.png") center repeat-x; */
/* 	height: 260px; */
	border-top: 3px solid black;
	height: 100%;
	z-index: 2000;
	min-height: 260px;
}

div.content_localidade div.cities
{
	float: left;
	margin: 80px 0 0 100px;
	color: #FF9900;
	font-size: 20px;
	line-height: 150%;
}

div.content_localidade div.box_text_cities
{
	position: absolute; left: 100px; padding: 10px 0px;  margin: 26px 0;
}

div.content_localidade div.box_text_cities span
{
	padding-left: 24px; background: url('/img/btn_select_cities.png') left center no-repeat; padding-bottom: 2px; font-size: 20px; color: #000; font-weight: bold; 
}
div.content_localidade div.cities ul li a
{
	color: #fff;
}

div.content_localidade div.cities ul li a:hover
{
	color: #ccc;
}

div.content_localidade div.headline
{
	color: #ccc;
	font-size: 40px;
	width: 380px;
	letter-spacing: 1px;
	line-height: 120%;
	float: right;
	padding-top: 70px;
	margin-right: 50px;

}
div.content_localidade div.headline span
{
	color: #09F;
	font-size: 50px;
}