div.wrap{
	display: table; width: 980px; 
}

/*
LEFT
*/

div.wrap div.wrapLeft{
	display: table; float: left; margin-right: 20px;
}

div.wrap div.wrapLeft div.desc_parc{
	
}

div.wrap div.wrapLeft div.desc_parc p.title_homeP{
	padding: 20px 0 10px 0; font-size: 26px; color: #09F; 
}

div.wrap div.wrapLeft div.desc_parc div.text_descP{
	text-align: justify;
	width: 600px;
}

div.wrap div.wrapLeft div.commentsFb{
	display: table; margin: 60px 0 0 0; background: #fbfbfb;	
}

/*
RIGHT
*/

div.wrap div.wrapRight{
	display:table; float: left; padding: 30px 15px 15px 15px; border-left: 1px dotted #fbfbfb;
}

div.wrap div.wrapRight div.form_parc{
	padding: 0 10px;
}

div.wrap div.wrapRight div.form_parc p{
	padding: 20px 0 10px 0; font-size: 26px; color: #09F; background: url("/img/arrow_p_home.png") 190px 20px no-repeat;
}

/*
FORM
*/
div.wrap div.wrapRight form ul.errors li
{
	color: red;
}

div.wrap div.wrapRight div.form_parc label{
	font-size:14px; color: #0099FF;
}
div.wrap div.wrapRight div.form_parc input[type="text"]{
	width: 180px; height: 28px; padding: 0 10px; background: #EEE; border: 1px solid #C6E2FF; color: #036; outline: 0 none; 
}
div.wrap div.wrapRight div.form_parc input#assunto{
	background: #EEE; border: 1px solid #C6E2FF;width: 180px; color: #036; outline: 0 none; height: 28px; padding-left: 10px; font-weight: bold;
}
div.wrap div.wrapRight div.form_parc textarea{
	background: #EEE; border: 1px solid #C6E2FF; color: #036; padding: 10px; outline: 0 none; height: 80px;
}
div.wrap div.wrapRight div.form_parc input[type="submit"]{
	border: 1px solid #C6E2FF; color: #036; padding: 8px 50px; cursor: pointer;
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}
