@CHARSET "UTF-8";

hr.menu_bar
{
	background: transparent url("/img/eventos_calendar_line.png") top center repeat-x;
	height: 10px;
}






div.site_menu
{
	height: 73px;
	background-color: #F1F6F9;
}
div.site_menu div.site_menu_wrap
{
	margin: 0 auto;
	width: 760px;
}


div.site_menu div.site_menu_wrap ul li
{
	float: left;
	font-size: 26px;
	margin: 0 1px;
	background-color: #C9E6FB;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
div.site_menu div.site_menu_wrap ul li a:HOVER
{
	color: #00B0DD;
}

div.site_menu div.site_menu_wrap ul li a
{
	line-height: 73px;
	color: #00CCFF;
	display: block;
	position: relative;
}

div.site_menu div.site_menu_wrap ul li div.menu_active {
	background: transparent url("/img/parceiro_menu_active.png") center bottom no-repeat;
	position: absolute;
	left: 75px;
	bottom: -15px;
	width: 32px;
	height: 16px;
}
